{% extends 'base_generic.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable" style="margin-top: 90px; margin-left: 70px; margin-right: 70px; background-image: url(' {% static 'img/blur5.jpg' %} '); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
                <div class="card-content white-text">
                    <form method="post">
                        {% csrf_token %}
                        <h1> Add Students </h1>


                        <ol style="list-style-type: upper-roman;">
                            {% for form in formset %}
                            <li>
                                <div style="text-align: left; font-size: large;"><b>&nbsp; Enter details of new Student:</b></div>
                                <table>
                                    {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        <tr>
                                            <td> <label for="{{ field.id_for_label }}" style="font-size: large; color: white; font-weight: 700; margin-left: 0px;">{{ field.label }}:</label> </td>
                                            <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                        </tr>
                                    </div>
                                    {% endfor %}
                                </table>
                            </li>
                            <br> {% endfor %}
                        </ol>



                        <input type="submit" value="Submit" class="btn-large" style="background-color: transparent; font-size: larger;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}