{% extends 'base_generic.html' %} {% load static %} {% block content %}

<h1 class="center white-text my-back">OUR TEAM</h1>
<div class="container">
    <div class="row">
        <div class="col l6">
            <div class="card horizontal small hoverable back-image-class">
                <div class="card-image">
                    <img src="{% static 'images/jai.jpeg' %}"></div>
                <div class=" card-stacked ">
                    <div class="card-content white-text ">
                        <span class="card-title ">Jai Garg</span>
                        <hr style="margin: 0em 0 1em; ">
                        <h6><i class="material-icons ">school</i>&nbsp; Indian Institute of Technology &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Distt. Rupnagar -140001</h6>
                        <h6><i class="material-icons ">email</i>&nbsp; jaigarg1499@gmail.com</h6>
                        <h6><i class="material-icons ">local_phone</i>&nbsp; +91-8699912855</h6>
                        <br>
                        <div class="container ">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-instagram white-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating white "><i class="fa fa-facebook blue-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-google white-text "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l6 ">
            <div class="card horizontal small hoverable back-image-class">
                <div class="card-image "><img src="{% static 'images/meh.jpeg' %}"></div>
                <div class="card-stacked ">
                    <div class="card-content white-text ">
                        <span class="card-title ">Mehakjot Singh Sidhu</span>
                        <hr style="margin: 0em 0 1em; ">
                        <h6><i class="material-icons ">school</i>&nbsp; Indian Institute of Technology <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Distt. Rupnagar -140001</h6>
                        <h6><i class="material-icons ">email</i>&nbsp; 2017csb1090@iitrpr.ac.in</h6>
                        <h6><i class="material-icons ">local_phone</i>&nbsp; +91-7986286491</h6>
                        <br>
                        <div class="container ">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-instagram white-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating white "><i class="fa fa-facebook blue-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-google white-text "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row ">
        <div class="col l6 ">
            <div class="card horizontal small hoverable back-image-class">
                <div class="card-image "><img src="{% static 'images/div.jpeg' %}"></div>
                <div class="card-stacked ">
                    <div class="card-content white-text ">
                        <span class="card-title ">Divyanshu</span>
                        <hr style="margin: 0em 0 1em; ">
                        <h6><i class="material-icons ">school</i>&nbsp; Indian Institute of Technology &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Distt. Rupnagar -140001</h6>
                        <h6><i class="material-icons ">email</i>&nbsp; 2017csb1074@iitrpr.ac.in</h6>
                        <h6><i class="material-icons ">local_phone</i>&nbsp; +91-8283918488</h6>
                        <br>
                        <div class="container ">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-instagram white-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating white "><i class="fa fa-facebook blue-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-google white-text "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col l6 ">
            <div class="card horizontal small hoverable back-image-class">
                <div class="card-image "><img src="{% static 'images/amr.jpeg' %}"></div>
                <div class="card-stacked ">
                    <div class="card-content white-text ">
                        <span class="card-title ">Amritpal Singh</span>
                        <hr style="margin: 0em 0 1em; ">
                        <h6><i class="material-icons ">school</i>&nbsp; Indian Institute of Technology &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Distt. Rupnagar -140001</h6>
                        <h6><i class="material-icons ">email</i>&nbsp; 2017csb1068@iitrpr.ac.in</h6>
                        <h6><i class="material-icons ">local_phone</i>&nbsp; +91-9041325098</h6>

                        <br>
                        <div class="container ">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-instagram white-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating white "><i class="fa fa-facebook blue-text "></i></a> &nbsp;&nbsp;&nbsp;
                            <a href=" " class="btn btn-floating red "><i class="fa fa-google white-text "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}