{% extends 'base_generic.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable back-image-class" style="margin-top: 130px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <form method="post" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        <h1 style="font-size: 4vw;"> Change Password </h1>
                        <table class="responsive-table">
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                <tr>
                                    <td> <label for="{{ field.id_for_label }}" class="label-class">{{ field.label }}:</label> </td>
                                    <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                </tr>
                            </div>
                            {% endfor %}
                        </table>

                        <div style="width: 100%; text-align: justify; text-justify: inter-word;">
                            <input type="button" onclick="myFunction()" class="btn small white-text" style="background-color: transparent; font-size: smaller; font-weight: 500; overflow: hidden;" value="* hide password requirements" id="button1_id"></input>
                            <div id="myDIV">
                                <ul style="text-align: justify; text-justify: inter-word;">
                                    <li>a. Your password can’t be too similar to your other personal information.</li>
                                    <li>b. Your password must contain at least 8 characters.</li>
                                    <li>c. Your password can’t be a commonly used password.</li>
                                    <li>d. Your password can’t be entirely numeric.</li>
                                </ul>
                            </div>
                        </div>

                        <input type="submit" value="Submit" class="btn-large" style="background-color: transparent; font-size: larger;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

        var y = document.getElementById("button1_id");

        if (y.value === "* hide password requirements") {
            y.value = "* see password requirements";
        } else {
            y.value = "* hide password requirements";
        }
    }
</script>

{% endblock %}