{% extends 'base_generic.html' %} {% load static %} {% block content %}

<h1 class="center white-text my-back">ABOUT</h1>

<div>
    <div class="row">
        <div class="col l4 offset-l4 m6 offset-m3 s10 offset-s1">
            <div class="card hoverable center back-image-class" style="margin-top: 50px; margin-left: 30px; margin-right: 30px;">
                <div class="card-content">
                    <p class="flow-text white-text">About content goes here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}