{% extends 'base_generic.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#add_students_button').click(function(e) {
            var num_students = $("#add_students_input").val();
            if(num_students<1){
                num_students=1;
            }
            window.location.href = "{% url 'add_students' num_students=1 %}".replace(/1/, num_students.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#add_instructors_button').click(function(e) {
            var num_instructors = $("#add_instructors_input").val();
            if(num_instructors<1){
                num_instructors=1;
            }
            window.location.href = "{% url 'add_instructors' num_instructors=1 %}".replace(/1/, num_instructors.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#add_courses_button').click(function(e) {
            var num_courses = $("#add_courses_input").val();
            if(num_courses<1){
                num_courses=1;
            }
            window.location.href = "{% url 'add_courses' num_courses=1 %}".replace(/1/, num_courses.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#add_teaching_assistants_button').click(function(e) {
            var num_teaching_assistants = $("#add_teaching_assistants_input").val();
            if(num_teaching_assistants<1){
                num_teaching_assistants=1;
            }
            window.location.href = "{% url 'add_teaching_assistants' num_teaching_assistants=1 %}".replace(/1/, num_teaching_assistants.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#assign_student_role_to_users_button').click(function(e) {
            var num_users = $("#assign_student_role_to_users_input").val();
            if(num_users<1){
                num_users=1;
            }
            window.location.href = "{% url 'assign_student_role_to_users' num_users=1 %}".replace(/1/, num_users.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#assign_instructor_role_to_users_button').click(function(e) {
            var num_users = $("#assign_instructor_role_to_users_input").val();
            if(num_users<1){
                num_users=1;
            }
            window.location.href = "{% url 'assign_instructor_role_to_users' num_users=1 %}".replace(/1/, num_users.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#assign_teaching_assistant_role_to_users_button').click(function(e) {
            var num_users = $("#assign_teaching_assistant_role_to_users_input").val();
            if(num_users<1){
                num_users=1;
            }
            window.location.href = "{% url 'assign_teaching_assistant_role_to_users' num_users=1 %}".replace(/1/, num_users.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#assign_instructor_role_to_class_event_coordinators_button').click(function(e) {
            var num_class_event_coordinators = $("#assign_instructor_role_to_class_event_coordinators_input").val();
            if(num_class_event_coordinators<1){
                num_class_event_coordinators=1;
            }
            window.location.href = "{% url 'assign_instructor_role_to_class_event_coordinators' num_class_event_coordinators=1 %}".replace(/1/, num_class_event_coordinators.toString());
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#assign_teaching_assistant_role_to_class_event_coordinators_button').click(function(e) {
            var num_class_event_coordinators = $("#assign_teaching_assistant_role_to_class_event_coordinators_input").val();
            if(num_class_event_coordinators<1){
                num_class_event_coordinators=1;
            }
            window.location.href = "{% url 'assign_teaching_assistant_role_to_class_event_coordinators' num_class_event_coordinators=1 %}".replace(/1/, num_class_event_coordinators.toString());
        });
    });
</script>

{% if is_admin %}

<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Admin Details</h3>
                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Admin ID:</td>
                            <td> {{ request.user.admin.admin_id }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card center hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3>Available actions</h3>
                    <table class="responsive-table centered">

                        {% if perms.database_manager.add_student %}
                        <input type="number" id="add_students_input">
                        <button type="button" id="add_students_button">Add students</button>
                        {% endif %}

                        {% if perms.database_manager.add_course %}
                        <input type="number" id="add_courses_input">
                        <button type="button" id="add_courses_button">Add courses</button>
                        {% endif %}

                        {% if perms.database_manager.add_instructor %}
                        <input type="number" id="add_instructors_input">
                        <button type="button" id="add_instructors_button">Add instructors</button>
                        {% endif %}

                        {% if perms.database_manager.add_teachingassistant %}
                        <input type="number" id="add_teaching_assistants_input">
                        <button type="button" id="add_teaching_assistants_button">Add teaching assistants</button>
                        {% endif %}

                        {% if perms.database_manager.add_student %}
                        <input type="number" id="assign_student_role_to_users_input">
                        <button type="button" id="assign_student_role_to_users_button">Assign student role to users</button>
                        {% endif %}

                        {% if perms.database_manager.add_instructor %}
                        <input type="number" id="assign_instructor_role_to_users_input">
                        <button type="button" id="assign_instructor_role_to_users_button">Assign instructor role to users</button>
                        {% endif %}

                        {% if perms.database_manager.add_teachingassistant %}
                        <input type="number" id="assign_teaching_assistant_role_to_users_input">
                        <button type="button" id="assign_teaching_assistant_role_to_users_button">Assign teaching assistant role to users</button>
                        {% endif %}

                        {% if perms.database_manager.add_instructor %}
                        <input type="number" id="assign_instructor_role_to_class_event_coordinators_input">
                        <button type="button" id="assign_instructor_role_to_class_event_coordinators_button">Assign instructor role to class event coordinators</button>
                        {% endif %}

                        {% if perms.database_manager.add_teachingassistant %}
                        <input type="number" id="assign_teaching_assistant_role_to_class_event_coordinators_input">
                        <button type="button" id="assign_teaching_assistant_role_to_class_event_coordinators_button">Assign teaching assistant role to class event coordinators</button>
                        {% endif %}

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br> {% endif %}

<br> {% if is_instructor %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Instructor Details</h3>

                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Instructor ID:</td>
                            <td> {{ request.user.classeventcoordinator.instructor.instructor_id }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <table class="responsive-table">
                        <thead>
                            <h5>Registered as instructor for courses:</h5>
                        </thead>

                        <tbody>
                            {% for course in instructor_for_courses %}
                            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_course_attendance_details' course_id=course.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped" data-tooltip="Click to View attendance"
                                    data-position="right">{{ course }}</a></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% if is_teachingassistant %}
<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Teaching Assistant Details</h3>

                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Teaching Assistant ID:</td>
                            <td> {{ request.user.classeventcoordinator.teachingassistant.teaching_assistant_id }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <table class="responsive-table">
                        <thead>
                            <h5>Registered as teaching assistant for courses:</h5>
                        </thead>

                        <tbody>
                            {% for course in teaching_assistant_for_courses %}
                            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_course_attendance_details' course_id=course.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped" data-tooltip="Click to View attendance"
                                    data-position="right">&nbsp;{{ course }}</a></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% if is_student %}
<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Student Details</h3>

                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Entry number:</td>
                            <td> {{ request.user.student.entry_number }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">


                    <table class="responsive-table">
                        <thead>
                            <h3 class="center">Student registered for courses</h3>
                        </thead>

                        <tbody>
                            {% for course in registered_student_for_courses %}
                            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_student_attendance_details_in_a_course' course_id=course.id student_id=request.user.student.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped"
                                    data-tooltip="Click to View attendance" data-position="right">&nbsp;&nbsp;{{ course }}</a></tr>
                            {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% if not is_admin and not is_classeventcoordinator and not is_student %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable back-image-class" style="margin-top: 200px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content" style="color: white;" id="div_id">

                    <p class="flow-text">You are an unauthorised user.</p>

                    <p class="flow-text">Please logout from this page.</p>
                    <a href="{% url 'logout' %}" class="btn-large" style="background-color: transparent; font-size: larger; color: white;" id="btn_id">Logout</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

<script>
    setInterval(set, 500);

    function set() {
        var x = document.getElementById("div_id");
        if (x.style.color === "white") {
            x.style.color = "red";
        } else {
            x.style.color = "white";
        }

        x = document.getElementById("btn_id");
        if (x.style.color === "white") {
            x.style.color = "red";
        } else {
            x.style.color = "white";
        }
    }
</script>

{% endblock %}