{% extends 'base_generic.html' %} {% load static %} {% block content %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable" style="margin-top: 150px; margin-left: 70px; margin-right: 70px; background-image: url(' {% static 'img/blur5.jpg' %} '); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
                <div class="card-content white-text">
                    <h1> Reset Password </h1>
                    <p class="flow-text">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                    <p class="flow-text">( If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder )</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}