{% extends 'base_generic.html' %} {% load static %} {% block content %}
<div style="margin-left: 100px;">
    <div class="card-panel small hoverable center back-image-class" style="width: 15%;">
        <div class="card-content">
            <h2 class="white-text">ABOUT</h2>
        </div>
    </div>
</div>

<div style="margin-left: 100px;">
    <div class="card-panel hoverable center back-image-class" style="width: 95%;">
        <div class="card-content">
            <p class="flow-text white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem dignissimos dolorum deleniti veritatis fuga eaque voluptate iusto. Placeat eaque temporibus explicabo ullam impedit! Dolorem placeat quam voluptatum alias enim error eaque odit
                officia minima ratione delectus harum, suscipit, distinctio est nam, eos nulla consequatur ut in corporis nostrum dolor iure facilis excepturi. Quaerat ducimus deleniti possimus beatae officia enim eum tempore quod asperiores, debitis
                sunt, quo dignissimos tenetur nemo, nam dicta accusamus obcaecati expedita architecto. Modi fugiat dolor quis molestias eos quod beatae illum repellat doloribus, quae, incidunt voluptate deserunt alias odit reprehenderit tempora deleniti
                numquam. Nemo tempora illum nulla dicta recusandae nobis ipsa odit, aut maiores. Ab, ipsum tenetur! Sit dignissimos quo facere rerum nihil maiores impedit velit, qui pariatur porro dolore quis id accusamus ratione asperiores deleniti inventore
                saepe nemo repellendus eius repudiandae voluptatibus placeat? Voluptas voluptatum pariatur asperiores vero necessitatibus nihil ipsam quae corrupti aspernatur, nobis non soluta architecto neque distinctio eum molestiae dolorem magnam maiores.
                Sequi modi corrupti similique, odio quod alias blanditiis commodi labore quas totam natus, tenetur ducimus nulla impedit esse consectetur illo et facere inventore nobis aperiam quaerat rem facilis ut. Nam, dicta iure ratione exercitationem
                ullam voluptatibus quia ex assumenda totam ab repudiandae maiores iusto illo aut iste cupiditate labore tempore tenetur sint enim voluptatem. Ullam corrupti consequuntur labore rerum! Adipisci id, molestiae suscipit velit laborum consectetur,
                aspernatur molestias obcaecati a minima nam nesciunt possimus sunt doloremque veniam numquam necessitatibus, vero assumenda aut repellendus tempora magnam. Quos quo ipsum ipsa! Iusto aliquam sit harum tenetur labore molestiae tempora,
                fugit veniam sint nobis eum illum ipsum aperiam accusamus exercitationem consequatur dolore porro iure laboriosam explicabo nesciunt repudiandae placeat! Excepturi eius iure illum corporis ipsam, dolorem corrupti delectus atque molestiae,
                blanditiis vero error voluptatem sit vitae deleniti amet hic minima. Illo iste dicta harum.</p>
        </div>
    </div>
</div>
{% endblock %}