{% extends 'base_generic.html' %} {% load static %} {% load widget_tweaks %} {% block content %} {% if is_admin %}

<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Admin Details</h3>
                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Admin ID:</td>
                            <td> {{ request.user.admin.admin_id }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card center hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3>ADD ...</h3>
                    <table class="responsive-table centered">
                        <form method="post">
                            {% csrf_token %}
                            <tr>
                                {% for field in num_students_to_add_form %}
                                <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                {% endfor %}
                                <td><input type="submit" value="Add Students" class="btn-large tooltipped" data-tooltip="Click to add Students" data-position="right" style="background-color: transparent; font-size: larger;">
                                </td>
                            </tr>
                        </form>
                        <form method="post">
                            {% csrf_token %} {% for field in num_instructors_to_add_form %}
                            <tr>
                                <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                <td><input type="submit" value="Add Instructors" class="btn-large tooltipped" data-tooltip="Click to add Instructors" data-position="right" style="background-color: transparent; font-size: larger;">
                                </td>
                            </tr>
                            {% endfor %}
                        </form>
                        <form method="post">
                            {% csrf_token %} {% for field in num_courses_to_add_form %}
                            <tr>
                                <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                <td><input type="submit" value="Add Courses" class="btn-large tooltipped" data-tooltip="Click to add Courses" data-position="right" style="background-color: transparent; font-size: larger;">
                                </td>
                            </tr>
                            {% endfor %}
                        </form>
                        <form method="post">
                            {% csrf_token %} {% for field in num_teaching_assistants_to_add_form %}
                            <tr>
                                <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                <td><input type="submit" value="Add Teaching Assistants" class="btn-large tooltipped" data-tooltip="Click to add Teaching Assistants" data-position="right" style="background-color: transparent; font-size: larger;">
                                </td>
                            </tr>
                            {% endfor %}
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br> {% endif %}

<br> {% if is_instructor %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Instructor Details</h3>

                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Instructor ID:</td>
                            <td> {{ request.user.instructor.instructor_id }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <table class="responsive-table">
                        <thead>
                            <h5>Registered as instructor for courses:</h5>
                        </thead>

                        <tbody>
                            {% for course in instructor_for_courses %}
                            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_course_attendance_details' course_id=course.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped" data-tooltip="Click to View attendance"
                                    data-position="right">{{ course }}</a></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% if is_teachingassistant %}
<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Teaching Assistant Details</h3>

                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Teaching Assistant ID:</td>
                            <td> {{ request.user.teachingassistant.teaching_assistant_id }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <table class="responsive-table">
                        <thead>
                            <h5>Registered as teaching assistant for courses:</h5>
                        </thead>

                        <tbody>
                            {% for course in teaching_assistant_for_courses %}
                            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_course_attendance_details' course_id=course.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped" data-tooltip="Click to View attendance"
                                    data-position="right">&nbsp;{{ course }}</a></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% if is_student %}
<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Student Details</h3>

                    <table class="responsive-table white-text flow-text">
                        <tr>
                            <td>Name:</td>
                            <td> {{ request.user.get_full_name }}</td>
                        </tr>
                        <tr>
                            <td>Entry number:</td>
                            <td> {{ request.user.student.entry_number }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">


                    <table class="responsive-table">
                        <thead>
                            <h3 class="center">Student registered for courses</h3>
                        </thead>

                        <tbody>
                            {% for course in registered_student_for_courses %}
                            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_student_attendance_details_in_a_course' course_id=course.id student_id=request.user.student.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped"
                                    data-tooltip="Click to View attendance" data-position="right">&nbsp;&nbsp;{{ course }}</a></tr>
                            {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} {% if not is_admin and not is_classeventcoordinator and not is_student %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable back-image-class" style="margin-top: 300px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">

                    <p class="flow-text">You are an unauthorised user.</p>
                    <br>
                    <p class="flow-text">Please logout from this page.</p>
                    <a href="{% url 'logout' %}" class="btn-large" style="background-color: transparent; font-size: larger;">Logout</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endif %} {% endblock %}