{% extends 'base_generic.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

{% if is_admin %}

<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Admin Details</h3>

                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Name: &nbsp;{{ request.user.get_full_name }}</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Admin ID: &nbsp;{{ request.user.admin.admin_id }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <form method="post">
                        {% csrf_token %}

                        <table>
                            {% for field in num_students_to_add_form %}
                            <div class="form-group">
                                <tr>
                                    <td> <label for="{{ field.id_for_label }}" class="label-class">{{ field.label }}:</label> </td>
                                    <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                </tr>
                            </div>
                            {% endfor %}
                        </table>


                        <input type="submit" value="Add Students" class="btn-large tooltipped" data-tooltip="Click to add Students" data-position="right" style="background-color: transparent; font-size: larger;">
                    </form>

                    <br>

                    <form method="post">
                        {% csrf_token %}

                        <table>
                            {% for field in num_instructors_to_add_form %}
                            <div class="form-group">
                                <tr>
                                    <td> <label for="{{ field.id_for_label }}" class="label-class">{{ field.label }}:</label> </td>
                                    <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                </tr>
                            </div>
                            {% endfor %}
                        </table>


                        <input type="submit" value="Add Instructors" class="btn-large tooltipped" data-tooltip="Click to add Instructors" data-position="right" style="background-color: transparent; font-size: larger;">
                    </form>

                    <br>


                    <form method="post">
                        {% csrf_token %}

                        <table>
                            {% for field in num_courses_to_add_form %}
                            <div class="form-group">
                                <tr>
                                    <td> <label for="{{ field.id_for_label }}" class="label-class">{{ field.label }}:</label> </td>
                                    <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                </tr>
                            </div>
                            {% endfor %}
                        </table>
                        <input type="submit" value="Add Courses" class="btn-large tooltipped" data-tooltip="Click to add Courses" data-position="right" style="background-color: transparent; font-size: larger;">
                    </form>

                    <br>

                    <form method="post">
                        {% csrf_token %}

                        <table>
                            {% for field in num_teaching_assistants_to_add_form %}
                            <div class="form-group">
                                <tr>
                                    <td> <label for="{{ field.id_for_label }}" class="label-class">{{ field.label }}:</label> </td>
                                    <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                </tr>
                            </div>
                            {% endfor %}
                        </table>

                        <input type="submit" value="Add Teaching Assistants" class="btn-large tooltipped" data-tooltip="Click to add Teaching Assistants" data-position="right" style="background-color: transparent; font-size: larger;">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
{% endif %}

<br> {% if is_instructor %}

<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Instructor Details</h3>

                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Name: &nbsp;{{ request.user.get_full_name }}</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Instructor ID: &nbsp;{{ request.user.instructor.instructor_id }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">

                    <h5>&nbsp;&nbsp;&nbsp;&nbsp;Registered as instructor for courses:</h5>
                    <ul style="text-align: justify; text-justify: inter-word;">
                        {% for course in instructor_for_courses %}
                        <li><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_course_attendance_details' course_id=course.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped" data-tooltip="Click to View attendance"
                                data-position="right">&nbsp;{{ course }}</a></li>
                        {% endfor %}
                    </ul><br>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if is_teachingassistant %}
<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Teaching Assistant Details</h3>

                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Name: &nbsp;{{ request.user.get_full_name }}</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Teaching Assistant ID: &nbsp;{{ request.user.teachingassistant.teaching_assistant_id }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">

                    <h5>&nbsp;&nbsp;&nbsp;&nbsp;Registered as teaching assistant for courses:</h5>
                    <ul style="text-align: justify; text-justify: inter-word;">
                        {% for course in teaching_assistant_for_courses %}
                        <li><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_course_attendance_details' course_id=course.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped" data-tooltip="Click to View attendance"
                                data-position="right">&nbsp;{{ course }}</a></li>
                        {% endfor %}
                    </ul><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if is_student %}
<div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Student Details</h3>

                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Name: &nbsp;{{ request.user.get_full_name }}</h4>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Entry number: &nbsp;{{ request.user.student.entry_number }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel hoverable back-image-class" style="margin-top: 50px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <h3 class="center">Student registered for courses</h3>

                    <ul style="text-align: justify; text-justify: inter-word;">
                        {% for course in registered_student_for_courses %}
                        <li><b>&nbsp;&nbsp;&nbsp;&nbsp;o</b><a href="{% url 'view_student_attendance_details_in_a_course' course_id=course.id student_id=request.user.student.id %}" style="font-size: x-large;" class="teal-text text-lighten-2 tooltipped" data-tooltip="Click to View attendance"
                                data-position="right">&nbsp;&nbsp;{{ course }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if not is_admin and not is_classeventcoordinator and not is_student %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable back-image-class" style="margin-top: 300px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">

                    <p class="flow-text">You are an unauthorised user.</p>
                    <br>
                    <p class="flow-text">Please logout from this page.</p>
                    <a href="{% url 'logout' %}" class="btn-large" style="background-color: transparent; font-size: larger;">Logout</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endif %} {% endblock %}