{% extends 'base_generic.html' %} {% load static %} {% load widget_tweaks %} {% block content %}

<div>
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card-panel center hoverable back-image-class" style="margin-top: 90px; margin-left: 70px; margin-right: 70px;">
                <div class="card-content white-text">
                    <form method="post">
                        {% csrf_token %}
                        <h2> {{ title }} </h2>


                        <ol style="list-style-type: upper-roman;">
                            {{ formset.management_form }}
                            {% for form in formset %}
                            <li>
                                <div style="text-align: left; font-size: large;"><b>&nbsp; Enter details:</b></div>
                                <table>
                                    {% for field in form.visible_fields %}
                                    <div class="form-group">
                                        <tr>
                                            <td> <label for="{{ field.id_for_label }}" class="label-class">{{ field.label }}:</label> </td>
                                            <td>{% render_field field class="white-text" placeholder=field.label %} </td>
                                        </tr>
                                    </div>
                                    {% endfor %}
                                </table>
                            </li>
                            <br><br> {% endfor %}
                        </ol>



                        <input type="submit" value="Submit" class="btn-large" style="background-color: transparent; font-size: larger;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}