{% extends 'base_generic.html' %} {% load static %} {% block content %}


<div style="margin-left: 50px; margin-right: 50px; margin-top:30px;">
    <div class="card hoverable back-image-class">
        <div class="class-content">
            <br>
            <h3 class="center">Course Name: {{ related_course.name }}</h3>
            <h3 class="center">Course Code: {{ related_course.code }}</h3>
            <h4>&nbsp;&nbsp;&nbsp;Attendance Policy:</h4>
            <ol class="flow-text white-text" style="margin-left: 30px">
                <li>&nbsp;Relative attendance for one lecture: {{ related_course.relative_attendance_for_one_lecture }}</li>
                <li>&nbsp;Relative attendance for one tutorial: {{ related_course.relative_attendance_for_one_tutorial }}</li>
                <li>&nbsp;Relative attendance for one practical: {{ related_course.relative_attendance_for_one_practical }}</li>
            </ol>
            <br>

        </div>
    </div>
</div>

<br>

<div style="margin-left: 50px; margin-right: 50px; margin-top:30px;">
    <div class="card hoverable back-image-class">
        <div class="class-content">
            <br>
            <h3 class="center">Lectures</h3>

            <ol class="white-text flow-text" style="margin-left: 70px">
                {% for lecture in lectures %}
                <li>
                    <pre>&nbsp;Timestamp: {{ lecture.timestamp }}         Attendance Taken By: {{ lecture.attendance_taken_by }}</pre>

                    <div style="width: 100%; text-align: justify; text-justify: inter-word;">
                        <input type="button" onclick="myFunction({{lecture.id}})" class="btn small white-text" style="background-color: transparent; font-size: smaller; font-weight: 500;" value="* see entry no. of students present" id="{{ lecture.id }}_button" />
                        <div id="{{lecture.id}}_list" style="display: none;">
                            <ol type="a" style="margin-left: 50px">
                                {% for each_present_student in lecture.present_students.all %}
                                <li>&nbsp;{{ each_present_student.entry_number }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>

            <br>
        </div>
    </div>
</div>



<br>

<div style="margin-left: 50px; margin-right: 50px; margin-top:30px;">
    <div class="card hoverable back-image-class">
        <div class="class-content">
            <br>
            <h3 class="center">Tutorials</h3>

            <ol class="white-text flow-text" style="margin-left: 70px">
                {% for tutorial in tutorials %}
                <li>
                    <pre class="flow-text">&nbsp;Timestamp: {{ tutorial.timestamp }}         Attendance Taken By: {{ tutorial.attendance_taken_by }}</pre>

                    <div style="width: 100%; text-align: justify; text-justify: inter-word;">
                        <input type="button" onclick="myFunction({{tutorial.id}})" class="btn small white-text" style="background-color: transparent; font-size: smaller; font-weight: 500;" value="* see entry no. of students present" id="{{ tutorial.id }}_button" />
                        <div id="{{tutorial.id}}_list" style="display: none;">
                            <ol type="a" style="margin-left: 50px">
                                {% for each_present_student in tutorial.present_students.all %}
                                <li>&nbsp;{{ each_present_student.entry_number }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>

            <br>
        </div>
    </div>
</div>

<br>

<div style="margin-left: 50px; margin-right: 50px; margin-top:30px;">
    <div class="card hoverable back-image-class">
        <div class="class-content">
            <br>
            <h3 class="center">Practicals</h3>

            <ol class="white-text flow-text" style="margin-left: 70px">
                {% for practical in practicals %}
                <li>
                    <pre class="flow-text">&nbsp;Timestamp: {{ practical.timestamp }}         Attendance Taken By: {{ practical.attendance_taken_by }}</pre>

                    <div style="width: 100%; text-align: justify; text-justify: inter-word;">
                        <input type="button" onclick="myFunction({{practical.id}})" class="btn small white-text" style="background-color: transparent; font-size: smaller; font-weight: 500;" value="* see entry no. of students present" id="{{ practical.id }}_button" />
                        <div id="{{practical.id}}_list" style="display: none;">
                            <ol type="a" style="margin-left: 50px">
                                {% for each_present_student in practical.present_students.all %}
                                <li>&nbsp;{{ each_present_student.entry_number }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>

            <br>
        </div>
    </div>
</div>

<script>
    function myFunction(id) {

        var b_id = ''.concat(id, "_button");
        var div_id = ''.concat(id, "_list")


        var x = document.getElementById(div_id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }

        var y = document.getElementById(b_id);
        if (y.value === "* see entry no. of students present") {
            y.value = "* hide entry no. of students present";
        } else {
            y.value = "* see entry no. of students present";
        }
    }
</script>


{% endblock %}